<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in nunc tempus, scelerisque odio eu,
                imperdiet leo. Vestibulum porttitor sagittis est, at faucibus diam convallis eu. Etiam congue
                sollicitudin purus vitae dapibus. Ut auctor dui erat, aliquam rhoncus metus suscipit pulvinar.
                Suspendisse fermentum tempor pellentesque. Donec turpis turpis, gravida sed risus vel, viverra posuere
                odio. Nulla facilisi.
            </p>
            <hr>
            <p>
                Praesent imperdiet iaculis arcu, et volutpat quam pharetra quis. Sed vitae efficitur arcu, tristique
                ornare turpis. Sed pellentesque efficitur nulla quis faucibus. Etiam eu urna a lorem maximus congue. In
                luctus ligula id dapibus rutrum. Duis maximus lacinia est, vitae maximus velit condimentum eu. Donec
                nunc nunc, pharetra vitae ultrices nec, mollis non sapien. Nullam quis molestie velit, id fringilla
                odio. Aenean feugiat tortor tincidunt libero faucibus, in ultricies mauris rutrum.
            </p>
            <hr>
            <p>
                Nullam hendrerit eu arcu nec interdum. Integer egestas dignissim lacus, eu pulvinar eros aliquet a.
                Maecenas ultricies dapibus augue. Nunc auctor justo id massa tristique, eget lobortis velit
                pellentesque. Vestibulum iaculis euismod sapien et luctus. Maecenas convallis urna vitae magna feugiat
                lacinia. Quisque turpis metus, mattis congue nisi at, faucibus consectetur enim. Nullam tincidunt sapien
                non metus mattis posuere. Proin vulputate interdum sapien ac imperdiet. Maecenas nec dolor sed felis
                condimentum interdum et consequat libero. Nunc efficitur turpis in justo pretium, non fermentum orci
                auctor. Vestibulum maximus gravida nulla consequat semper. Sed condimentum ipsum vitae euismod lacinia.
                Pellentesque mollis, dolor at lacinia posuere, arcu ipsum posuere velit, id facilisis lectus dolor id
                lectus. Proin luctus tortor quis scelerisque tristique. Aliquam ac lorem nec dolor imperdiet
                sollicitudin eget et odio.
            </p>
            <hr>
            <p>
                Sed et sodales elit. Quisque scelerisque consequat tellus, at blandit neque pharetra ac. Nam fringilla
                varius metus, eu mattis ligula vulputate sit amet. Ut molestie neque in feugiat fermentum. Ut posuere,
                sem a dictum eleifend, nisi nibh rutrum sapien, id faucibus metus sapien vel risus. Nulla facilisi.
                Proin eget tristique augue. Fusce accumsan metus ut scelerisque suscipit. Pellentesque in mauris mattis
                tellus interdum feugiat et nec dui. Aenean non ullamcorper magna, pellentesque consequat purus. Sed
                vulputate diam quis erat lacinia, ac venenatis orci rhoncus.
            </p>
            <hr>
            <p>
                Nam sodales velit enim, ut blandit ligula finibus sit amet. Praesent faucibus malesuada nisl nec
                maximus. Etiam leo lacus, vehicula pellentesque rhoncus auctor, dignissim non ante. Nunc sit amet enim
                porta, efficitur quam vehicula, tristique lorem. Morbi pharetra semper rhoncus. Praesent laoreet gravida
                enim, vel elementum mauris suscipit viverra. Maecenas ac dignissim orci. Donec velit enim, tempus ac
                libero et, dapibus feugiat magna. Phasellus a commodo dolor. Praesent porta arcu sit amet nunc maximus
                placerat. Praesent libero sapien, ornare et congue sit amet, efficitur sed nisi. Curabitur commodo
                sollicitudin augue eu malesuada.
            </p>
        </div>
    </div>
</div>